.padding {
    padding-left: 10px;
    padding-right: 20px;
}

table {
    border-collapse: collapse;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

thead th {
    background-color: #AED6F1;
    font-weight: bold;
}

.data-row-style {
    background-color: #E5E7E9;
}
